<p id="notice"><%= notice %></p>

<h1>Listing Subsidiaries</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsidiaries.each do |subsidiary| %>
      <tr>
        <td><%= subsidiary.address %></td>
        <td><%= subsidiary.course %></td>
        <td><%= link_to 'Show', subsidiary %></td>
        <td><%= link_to 'Edit', edit_subsidiary_path(subsidiary) %></td>
        <td><%= link_to 'Destroy', subsidiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course subsidiary', new_subsidiary_path %>  <br>
<%= link_to 'Back', courses_path %>