<div class="js-attendee">
				
				  <%= f.label :name %> <br>
				  <%= f.text_field :name %> <br>
				  <%= f.label :email %> <br>
				  <%= f.email_field :email %> <br> 
				  <%= f.label :phone %> <br>
				  <%= f.number_field :phone %> <br>
				  
				

</div>