<% if user_signed_in? %>
		

		<h1> Class Information </h1>

		<h3> Course: <%= @course.name %></h3>
		<h3> Address: <%= @version_course.address %></h3>

		<%= select_tag :version_course_id, options_from_collection_for_select(VersionCourse.all, :id, :start_date), prompt: 'Fechas disponibles'%>

		<%= select_tag(:option, options_for_select([['1 seat', 1], ['2 seats', 2], ['3 seats', 3], ['4 seats', 4], ['5 seats', 5]]), class: 'js-seats') %>

		<h3>Price per Seat: <span class="js-price"><%= number_to_currency(@version_course.price, precision: 0) %></span></h3>

		<h3>Valor total: <b class="js-total-price"></b></h3>

	<h1> Attendee Information </h1> 
		
		<!-- Mejorar codigo  -->
		<%= form_for("inscription", :url => inscriptions_path) do |f| %>

		<div id="seat1" style="display:block;"><%= render 'form', f: f %></div>
		<div id="seat2" style="display:none;"><%= render 'form', f: f %></div>
		<div id="seat3" style="display:none;"><%= render 'form', f: f %></div>
		<div id="seat4" style="display:none;"><%= render 'form', f: f %></div>
		<div id="seat5" style="display:none;"><%= render 'form', f: f %></div>

		  
		<%= f.submit 'Save & Enroll' %>

		<% end %>

		

		<%= link_to 'Pay', payments_path   %>

<% else %>
		
		
<% end %>

