<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

  <h3>Addresses</h3>
 
  <%= f.fields_for :subsidiaries do | subsidiary | %>
    <div class="subsidiaries_fields">
      <div class="fields">
        <%= subsidiary.label :address, "Direccion" %><br>
        <%= subsidiary.text_field :address %>
        <%= subsidiary.check_box :_destroy %>
        <%= subsidiary.label :_destroy, "Borrar" %>
      </div>
    </div>
  <% end %>

 
 
  <%= f.fields_for :version_courses do | version_course | %>
   <h3>Course Versions</h3>
    <div class="version_courses_fields">
      <div class="fields">
        <%= version_course.label :start_date, "Start Date" %><br>
        <%= version_course.date_field :start_date %> <br>
        <%= version_course.label :end_date, "End Date" %><br>
        <%= version_course.date_field :end_date %> <br>
        <%= version_course.label :room, "Room" %><br>
        <%= version_course.number_field :room %> <br>
        <%= version_course.label :session_number, "Session Number" %><br>
        <%= version_course.number_field :session_number %> <br>
        <%= version_course.label :price, "Price" %><br>
        <%= version_course.number_field :price %> <br>
        <%= version_course.label :commission, "Commission" %><br>
        <%= version_course.number_field :commission %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
