<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @course.photo %>
</p>

<%= link_to 'Edit', edit_course_path(@course) if can? :edit, @course %> |
<%= link_to 'Back', courses_path %>
