<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@course.photo, style: 'width:300px')  %>
</p>



<% if @course.version_courses.any? %>

<% @course.version_courses.each do |version_course| %>

    <p>
      <strong>Room:</strong>
      <%= version_course.room %>
    </p>

    <p>
      <strong>Session Number:</strong>
      <%= version_course.session_number %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= version_course.price %>
    </p>

    <p>
      <strong>Start Date:</strong>
      <%= version_course.start_date %>
    </p>

    <p>
      <strong>End Date:</strong>
      <%= version_course.end_date %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= version_course.address %>
    </p>
  <% end %>

<% else %>
  <p>There's no Course version</p>
<% end %>



<%= link_to 'Edit', edit_course_path(@course) if can? :edit, @course %> |
<%= link_to 'Back', courses_path %> |
<%= link_to 'Enroll', payments_path   %>
