<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@course.photo, style: 'width:300px')  %>
</p>

<h4>Addresses </h4>
 
<% if @course.subsidiaries.any? %>
  <ul>
    <% @course.subsidiaries.each do |subsidiary| %>
    <li><%= link_to subsidiary.address, subsidiary %></li> 
    <% end %>
  </ul>
<% else %>
  <p>There's no address </p>
<% end %>

<h4>Course Version</h4>

<% if  @course.version_courses.any? %>
  <ul>
    <%  @course.version_courses.each do |version_course| %>
    <li><%= link_to version_course, version_course %></li> 
    <% end %>
  </ul>
<% else %>
  <p>There's no Course version</p>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) if can? :edit, @course %> |
<%= link_to 'Back', courses_path %>
